<mat-card appearance="outlined" style="width: max-content; background-color: rgb(212, 168, 57);border-color: black;border-width: 1px;">
  <mat-card-content>
    <div>
    <button (click)="togglePlayPause()" style="background-color: transparent;color: blue;margin-left: 40px;">
      @if (!isPlaying){
      <mat-icon class="material-symbols-outlined"> play_circle </mat-icon>
      }@else{
      <mat-icon class="material-symbols-outlined"> pause_circle </mat-icon>
      }
    </button>
  </div>
<mat-slider>
  <input
    matSliderThumb
    type="range"
    min="0"
    [max]="audioDuration"
    [(ngModel)]="currentTime"
    (input)="seekAudio($event)"
  />
</mat-slider>
</mat-card-content>
</mat-card>
