
<h2 mat-dialog-title>Mapa</h2>
    @if (isDomo) {
        <mat-dialog-content style="background-image: url(domo-completo.jpeg);background-size:contain;background-repeat: no-repeat; 
            width: 100%;   display: grid; position: relative;">
            <button (click)="select('invernaculo1')" style="width: 60px;height: 60px; border-radius: 50%; background-color: transparent;border: none; position: relative;margin: 46%;margin-top: 5%; position: absolute;">
                
            </button>
             <button (click)="select('alfa')" style="width: 60px;height: 60px; border-radius: 50%; background-color: transparent;border: none;margin-top: 20%;margin-left: 46%; position: relative; position: absolute;">
                
            </button> 
            <button (click)="select('aduana')" style="width: 60px;height: 60px; border-radius: 50%; background-color: transparent;border: none;margin-top: 40%;margin-left: 46%; position: relative; position: absolute;">
                
            </button> 
            <button (click)="select('depuracion')" style="width: 60px;height: 60px; border-radius: 50%; background-color: transparent;border: none;margin-top: 20%;margin-left: 5%; position: relative; position: absolute;">
                
            </button> 
            <button (click)="select('invernaculo2')" style="width: 60px;height: 60px; border-radius: 50%; background-color: transparent;border: none;margin-top: 20%;margin-left: 90%; position: relative; position: absolute;">
                
            </button>
            <button (click)="select('mar')" style="width: 60px;height: 60px; border-radius: 50%; background-color: transparent;border: none;margin-top: 35%;margin-left: 20%; position: relative; position: absolute;">
                
            </button>
            <button (click)="select('tren')" style="width: 60px;height: 60px; border-radius: 50%; background-color: red;border: none;margin-top: 36%;margin-left: 30%; position: relative; position: absolute;">
                tren
            </button>
        </mat-dialog-content>
    }@else{
            <mat-dialog-content [ngStyle]="{ 'background-image': 'url(' + fondoUrl + ')'}"  style="background-size:contain;background-repeat: no-repeat; 
            width: 100%;   display: grid; position: relative;">
            <button (click)="route('0')"  [ngStyle]="{ 'margin-left': xDeCero +'%','margin-top': yDeCero +'%'}" style="width: 60px;height: 60px; border-radius: 50%; background-color:transparent;border: none; position: relative;margin-left: 46%;margin-top: 5%; position: absolute;">
                {{descripcion1}}
            </button>
             <button [hidden]="hiddenboton2" (click)="route('1')"  style="width: 60px;height: 60px; border-radius: 50%; background-color:transparent;border: none;margin-top: 35%;margin-left: 35%; position: relative; position: absolute;">
                {{descripcion2}}
            </button> 
            <!-- <button (click)="select('aduana')" style="width: 60px;height: 60px; border-radius: 50%; background-color: rgb(13, 10, 10);border: none;margin-top: 40%;margin-left: 46%; position: relative; position: absolute;">
                
            </button> 
            <button (click)="select('depuracion')" style="width: 60px;height: 60px; border-radius: 50%; background-color: rgb(108, 87, 87);border: none;margin-top: 20%;margin-left: 5%; position: relative; position: absolute;">
                
            </button> 
            <button (click)="select('invernaculo2')" style="width: 60px;height: 60px; border-radius: 50%; background-color: rgb(108, 87, 87);border: none;margin-top: 20%;margin-left: 90%; position: relative; position: absolute;">
                
            </button>  -->
        </mat-dialog-content>
        
    }
   <!-- <div style="height: 500px; width: 500px; display: flex; position: relative;">
    <div id="entrada">
        entrada
    </div>
    <div id="aduana">
        aduana
    </div>
    <div id="tunnel">
        aduana
    </div>
    <div>
        
    </div>
    <div id="domoCentralPB">
        domo central
    </div>

   </div> -->
