.arrow-button {
  width: 30px;
  height: 60px;
  background-image: url(/Flecha.png);
  background-color: transparent;
  background-size: contain;
  cursor: pointer;
  border: none;
  padding: 0;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.arrow-button:hover {
  transform: scale(1.1); /* Escala el botón un 10% más grande */
}

@keyframes scroll-background {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.foto {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 200% cover;
  display: grid;
  position: relative;
  animation: scroll-background 10s linear infinite;
  background-position: 0 0;
  transform: scalex(1.5);
}
